@font-face{
    src: url('../assets/fonts/Montserrat-Bold.ttf');
    font-family: 'Montserrat-Bold';
}
@font-face{
    src: url('../assets/fonts/Montserrat-Medium.ttf');
    font-family: 'Montserrat-Medium';
}
@font-face{
    src: url('../assets/fonts/Roboto-Black.ttf');
    font-family: 'Roboto-Black';
}
@font-face{
    src: url('../assets/fonts/Roboto-Bold.ttf');
    font-family: 'Roboto-Bold';
}
@font-face{
    src: url('../assets/fonts/Roboto-Regular.ttf');
    font-family: 'Roboto-Regular';
}
@font-face{
    src: url('../assets/fonts/Roboto-Medium.ttf');
    font-family: 'Roboto-Medium';
}