$color-gray : #F3F5F8;
$color-white: #fff;
$primary-color: #572EE5;
$secondary-color: #5ED7C6;
$ternary-color: #9CAFC3; 
$color-icons-social-media: #CDD6E0;
$color-icons-hover:rgb(87, 46, 229);
$background-gray-dark-mode: #37383C;
$color-black: #000000;